__Find Weather__

In [1]:
import pandas as pd
import requests
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from time import sleep

In [2]:
cd D:\1 RA\re_find_1104\save

D:\1 RA\re_find_1104\save

In [3]:
df = pd.read_stata("unique_coordnates.dta")
df

              city           State      lat      lon  id_coordinate
0         Achalpur     Maharashtra  21.2574  77.5092            1.0
1             Agra   Uttar Pradesh  27.1762  77.9800            2.0
2            Ahiri     Maharashtra  19.4129  80.0054            3.0
3        Ahmadabad         Gujarat  23.0202  72.5797            4.0
4       Ahmadnagar     Maharashtra  19.1103  74.7427            5.0
..             ...             ...      ...      ...            ...
494  West Godavari  Andhra Pradesh  16.9838  81.3509          495.0
495   West Tripura         Tripura  23.9165  91.4139          496.0
496   Yamuna Nagar         Haryana  30.1322  77.2702          497.0
497       Yavatmal     Maharashtra  20.3884  78.1189          498.0
498    Yerraguntla  Andhra Pradesh  14.6453  78.5372          499.0

[499 rows x 5 columns]

#### __Test__

In [56]:
url = "https://power.larc.nasa.gov/api/temporal/daily/point?parameters=PRECTOTCORR,RH2M,CLOUD_OD,T2M,TS,T2M_RANGE,T2M_MAX,T2M_MIN,ALLSKY_KT&community=AG&longitude=118.1078&latitude=24.4715&start=20130101&end=20201231&format=CSV"
f = requests.get(url)

In [57]:
with open("1.csv".format(), "wb") as file_content:
     file_content.write(f.content)

#### __Loop__

In [4]:
cd D:\1 RA\re_find_1104\save\weather_get

D:\1 RA\re_find_1104\save\weather_get

In [5]:
num, _ = df.shape
num

499

In [6]:
url_empty =  "https://power.larc.nasa.gov/api/temporal/daily/point?parameters=PRECTOTCORR,RH2M,CLOUD_OD,T2M,TS,T2M_RANGE,T2M_MAX,T2M_MIN,CLOUD_AMT&community=AG&longitude={}&latitude={}&start=20130101&end=20201231&format=CSV"

In [9]:
error_ls = []
start = 18  # The max number within existing files' name

In [10]:
for i_ in range(start, num):
    lat = df.iloc[i_, 2]
    lon = df.iloc[i_, 3]
    url_ = url_empty.format(lon, lat)
    
    try:
        f = requests.get(url_)
    except Exception:
        print("Retry·············")  # Alert
        try:
            sleep(9 + np.random.normal(loc=3.0, scale=1.2))
            f = requests.get(url_)
        except Exception:
            error_ls.append(i_)
            continue
        else:
            pass
    else:
        pass
    

    with open("{}.csv".format(i_ + 1), "wb") as file_content:
        file_content.write(f.content)
            
    with open("{}.csv".format(1), "r") as test:
        c = test.read()
        
    if c == "<html><body><h1>408 Request Time-out</h1>\nYour browser didn't send a complete request in time.\n</body></html>\n":
        print("Retry·············")  # Alert
        try:
            f = requests.get(url_)
        except Exception:
            error_ls.append(i_)
            continue
        else:
            with open("{}.csv".format(i_ + 1), "wb") as file_content:
                file_content.write(f.content)
            
            
    sleep(20 + np.random.normal(loc=.0, scale=1.2))